<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <description>Administracion del Colegio</description>
    <display-name>ADMWG</display-name>
    <servlet>
        <servlet-name>ControllerPersonarol</servlet-name>
        <servlet-class>Controllers.ControllerPersonarol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controllerPersona</servlet-name>
        <servlet-class>Controllers.controllerPersona</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controllerTipodocumento</servlet-name>
        <servlet-class>Controllers.controllerTipodocumento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controllerRol</servlet-name>
        <servlet-class>Controllers.controllerRol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controllerCurso</servlet-name>
        <servlet-class>Controllers.controllerCurso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controllerMateria</servlet-name>
        <servlet-class>Controllers.controllerMateria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controllerFuncionalidad</servlet-name>
        <servlet-class>Controllers.controllerFuncionalidad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controllerCursopersona</servlet-name>
        <servlet-class>Controllers.controllerCursopersona</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControllerPersonarol</servlet-name>
        <url-pattern>/ControllerPersonarol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controllerPersona</servlet-name>
        <url-pattern>/controllerPersona</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controllerTipodocumento</servlet-name>
        <url-pattern>/controllerTipodocumento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controllerRol</servlet-name>
        <url-pattern>/controllerRol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controllerCurso</servlet-name>
        <url-pattern>/controllerCurso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controllerMateria</servlet-name>
        <url-pattern>/controllerMateria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controllerFuncionalidad</servlet-name>
        <url-pattern>/controllerFuncionalidad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controllerCursopersona</servlet-name>
        <url-pattern>/controllerCursopersona</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>jsp/principal.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/error404.jsp</location>
    </error-page>
</web-app>
